.container{
	margin:0 auto;
	width: 95%;
}
a.add.pull-right {
    text-decoration: none;
}
.gap{
	margin-top: 20px;
}
.first{
	margin-bottom: 20px;
}
.add1{
background-color: #337ab7;
color: #fff;
border-radius: 4px;
border:none;
}
.cancel{
background-color: #5bc0de;
color: #fff;
border-radius: 4px;
border:none;
}
.buttons{
	margin-bottom: 40px;
}
a.rmv{
	text-decoration: none;
}
.cssname{
	background-color: gray;
}
.first{
	text-align: center;
	margin:10px !important;
}